# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
*.whl

# Виртуальные окружения
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Системные файлы
.DS_Store
Thumbs.db
*.swp

# Логи
*.log

# Настройки редакторов
.vscode/
*.sublime-workspace
*.sublime-project

# Документы и конфигурации IDE
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmPreferences

# Файлы конфиденциальной информации
*.env
*.env.local

# Другие временные файлы
*.tmp
*.temp
